<div class="m-0 styling">
  <div class="row d-flex align-items-center justify-content-around styling m-0">
    <div class="col-2 text-center p-0">
      <div>
        <img src="./assets/img/lock-icon.png" alt="lock-icon" width="75" height="75">
      </div>
      <span style="font-size: 20px;">Inevitable Choice</span>
    </div>

    <div class="col-2 text-center p-0">
      <div>
        <img src="./assets/img/plate-icon.png" alt="plate-icon" width="80" height="80">
      </div>
      <span style="font-size: 20px;">You Just Can't Resist M-It!</span>
    </div>

    <div class="col-2 text-center p-0">
      <div>
        <img src="./assets/img/souvlaki-icon.png" alt="souvlaki-icon" width="75" height="75">
      </div>
      <span style="font-size: 20px;">Tasty Greek Souvlaki</span>
    </div>
  </div>
</div>

