<div class="m-0 styling">
  <div class="row d-flex align-items-center justify-content-around styling m-0">
    <div class="col-2 text-center p-0">
      <h2>Test Title</h2>
      <span>Test span Test span Test span </span>
    </div>

    <div class="col-2 text-center p-0">
      <h2>Test Title</h2>
      <span>Test span Test span Test span </span>
    </div>

    <div class="col-2 text-center p-0">
      <h2>Test Title</h2>
      <span>Test span Test span Test span </span>
    </div>
  </div>
</div>

