<h2 class="text-center mb-5 mt-5">Souvlaki's Details</h2>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Small Description</th>
      <th scope="col">Big Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{detailedSouvlaki.id}}</td>
      <td>{{detailedSouvlaki.name}}</td>
      <td>{{detailedSouvlaki.price}}</td>
      <td>{{detailedSouvlaki.smallDescription}}</td>
      <td>{{detailedSouvlaki.bigDescription}}</td>
    </tr>
  </tbody>
</table>
