<div class="container-fluid justify-content-center m-0 p-0 mt-3">
  <div class="row container-row m-0 p-0 w-100">
    <div id="left-side-img" class="col-2 bg-dark p-0"></div>
    <div class="col-8">
      <div class="row">
        <div class="product-container m-auto mb-4" *ngFor="let pizza of allPizza">
          <div class="product-card pt-0">
            <div class="product-image">
              <img src="./assets/img/pizza-logo.png" />
            </div>

            <div class="product-info">
              <h3 class="product-name">
                {{pizza.name}}
              </h3>

              <h4 class="product-description">
                {{pizza.smallDescription}}
              </h4>

              <h5 class="product-price">
                {{pizza.price}} €
              </h5>

              <div class="product-buttons">
                <div class="expand-buttons"><button>{{isExpanded(pizza.id) ? 'Show Less' : 'Show More'}}</button></div>
                <div class="expand-buttons"><button><i class="fa-solid fa-cart-shopping"></i></button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="right-side-img" class="col-2 bg-dark p-0"></div>
  </div>
</div>
